@model LexiconUniversity.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>            @Html.DisplayNameFor(model => model.FirstName)        </dt>
        <dd>            @Html.DisplayFor(model => model.FirstName)        </dd>

        <dt>            @Html.DisplayNameFor(model => model.LastName)        </dt>
        <dd>            @Html.DisplayFor(model => model.LastName)        </dd>

        <dt>            @Html.DisplayNameFor(model => model.Enrollments)        </dt>
        <dd id="list-enrollments" style="border: 1px dashed red;">            
            @Html.Partial("_Enrollments", Model.Enrollments)
        </dd>     

        <dt></dt>        
        <dd  id="create-enrollment">@Ajax.ActionLink("Add Enrollment", "Create", "Enrollments", 
           new { studentId = Model.Id }, 
           new AjaxOptions { UpdateTargetId = "create-enrollment"}, 
           null)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    function replaceCreateLink() {
        $('#create-enrollment').html('@Ajax.ActionLink("Add Enrollment", "Create", "Enrollments",
           new { studentId = Model.Id },
           new AjaxOptions { UpdateTargetId = "create-enrollment" },
           null)');
    }
</script>